<ng-container *ngIf="accessToken === null">
  <button
    type="button"
    class="btn btn-primary request-btn"
    data-bs-toggle="modal"
    data-bs-target="#loginModal"
  >
    Request <br />
    Counselling
  </button>
</ng-container>

<ng-container *ngIf="accessToken !== null">
  <button
    #button
    type="button"
    class="btn btn-primary request-btn"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#'+schoolId"
    (click)="requestClick()"
  >
    Request <br />
    Counselling
  </button>
</ng-container>
<!-- Modal -->
<div
  class="modal fade"
  [id]="schoolId"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog mt-0 d-flex alight-item-center">
    <div class="modal-content pb-3 mt-2">
      <div class="d-flex justify-content-end m-3 mb-1">
        <button
          #close
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-header justify-content-center pt-0">
        <h2 class="modal-title" id="exampleModalLabel">Request Counselling</h2>
      </div>
      <p class="text-center fs-6">
        Please check your details below and confirm to submit the request.
      </p>

      <div class="mx-5">
        <form
          class="container-fluid"
          [formGroup]="validateForm"
          method="post"
          (ngSubmit)="submitForm()"
        >
          <div class="mb-3 mx-3">
            <label class="form-label fw-bold"
              >Full Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control px-3 py-2"
              formControlName="fullName"
              placeholder="Enter your full name.."
            />
            <ng-container
              *ngIf="
                fullName?.invalid && (fullName?.dirty || fullName?.touched)
              "
            >
              <div class="text-danger" *ngIf="fullName?.errors?.['required']">
                Username is required!
              </div>
            </ng-container>
          </div>

          <div class="mb-3 mx-3">
            <label class="form-label fw-bold"
              >Email address <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control px-3 py-2"
              formControlName="email"
              placeholder="info@xyz.com"
            />
            <ng-container
              *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            >
              <div class="text-danger" *ngIf="email?.errors?.['required']">
                Email is required!
              </div>
              <div class="text-danger" *ngIf="email?.errors?.['pattern']">
                Email is not correct format!
              </div>
            </ng-container>
          </div>

          <div class="mb-3 mx-3">
            <label class="form-label fw-bold"
              >Mobile NO. <span class="text-danger">*</span> :</label
            >
            <input
              type="text"
              class="form-control px-3 py-2"
              formControlName="phoneNumber"
              placeholder="09123 127 135"
            />
            <ng-container
              *ngIf="
                phoneNumber?.invalid &&
                (phoneNumber?.dirty || phoneNumber?.touched)
              "
            >
              <div
                class="text-danger"
                *ngIf="phoneNumber?.errors?.['required']"
              >
                Phone number is required!
              </div>
              <div class="text-danger" *ngIf="phoneNumber?.hasError('pattern')">
                Invalid phone number format
              </div>
            </ng-container>
          </div>

          <div class="mb-3 mx-3">
            <label class="form-label fw-bold">Inquiry</label>
            <textarea
              name="inquiry"
              class="form-control px-3 py-2"
              formControlName="inquiry"
              cols="30"
              rows="5"
              maxlength="4000"
            ></textarea>
          </div>

          <p class="mx-3">
            Our staff will contact with you within 24 hrs. If you need urgent
            assistance, please contact us via our hotline
            <a href="tel:09123456888" class="text-decoration-underline"
              >09123456888</a
            >
          </p>
          <div class="mx-3 d-flex justify-content-end form-btn mt-3">
            <button type="button" class="btn close-btn" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
