<main>
  <div class="home-search-content">
    <form action="#" method="post" novalidate="novalidate">
      <div
        class="col-lg-12 search-background d-flex align-items-center with-overlay h-100">
        <h3 class="text-center mt-4 container">Find the ideal school</h3>
        <div>
          <div class="container px-3 mb-5">
            <p class="fw-bold mt-3 text-center">Search by school name</p>
            <app-load-jsondata-location></app-load-jsondata-location>
          </div>
          <div>
            <p class="home-text-note">
              NOTE: The inclusion of a school in this search does NOT constitute
              an endorsement of the school and should NOT be used to infer the
              accreditation status of the school
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ng-container *ngIf="feedbackList.length!==0" >
  <div class="home-rate bg-white">
    <h2 class="col-12 text-center my-5">Our Testimonials</h2>
    <div class="row">
      <div
        class="col-lg-6 col-sm-12 mb-3 mb-sm-0 mt-4"
        *ngFor="let feebBack of feedbackList">
        <div class="card-body gap-4 mb-5 bg-white" >
          <img
            class="col-4 user-img rounded-circle"
            src="{{ImageUtility.displayImg(feebBack.imageProfile)}}"
            alt="{{ feebBack.fullName }}"
          />
          <div class="col-8 row">
            <div class="col-6 customer-name">{{ feebBack.fullName }}</div>
            <div class="col-6 text-end">
              <app-rating-star [rate]="feebBack.avgRating" [maxRate]="5">
              </app-rating-star>
            </div>
            <div class="col-12 mt-3">
              <p class="ellipsis-content">{{ feebBack.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-container>

  <div class="home-about" id="about-us">
    <div class="container d-flex flex-wrap justify-content- align-items-center">
      <h2 class="col-12 text-center my-5">About Us</h2>
      <div class="p-3 col-md-4">
        <div class="d-flex flex-column align-items-center p-5 about-item" >
          <h5 class="card-title text-center mb-3" >
            <i class="bi bi-briefcase me-3"></i> Out School Networks
          </h5>
          <h5 class="text-center mb-3 faded-text pb-4">
            800 + <br/>Preschools and Kindergarten
          </h5>
          <p class="card-text">
            Search for a preschool for your child based on basic criteria such
            as: quality, reviews of other parents, location, tuition fees, ...
          </p>
        </div>
      </div>
      <div class="p-3 col-md-4">
        <div class="d-flex flex-column align-items-center p-5 about-item">
          <h5 class="card-title text-center mb-3">
            <i class="bi bi-geo-alt me-3"></i>Parent Community
          </h5>
          <h5 class="text-center mb-3 faded-text pb-4">
            1500+ <br/>School profiles of parents <br/>and kids
          </h5>
          <p class="card-text">
            Close connection with to parents through multiple channels including
            email, chat and phone calls. Get feedback from parents to provide a
            comprehensive view
          </p>
        </div>
      </div>
      <div class="p-3 col-md-4">
        <div class="d-flex flex-column align-items-center p-5 about-item">
          <h5 class="card-title text-center mb-3">
            <i class="bi bi-people me-3"></i> Special Consultations
          </h5>
          <h5 class="text-center mb-3 faded-text pb-4">
            30+ <br/>Consultants with 5-10 yrs of <br/>
            experience in education
          </h5>
          <p class="card-text">
            Our consultant with deep knowledge on pre- school education will
            help parents to choose the right school for their children
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- 4 -->
  <!-- Grid container -->
  <div class="container py-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div
        class="col-lg-6 col-md-12 mb-4 mb-md-0 d-flex flex-column align-items-center"
      >
        <h5 class="text-uppercase pb-4">COME VISIT US</h5>

        <span class="text-center">
            21TH FL, EDUCATION TOWER,
            <p>BACH MAI WARD, HAI BA TRUNG DIST, HANOI</p>
          </span>
        <hr class="w-25 my-1 border-dark"/>
      </div>

      <!--Grid column-->

      <!--Grid column-->
      <div
        class="col-lg-6 col-md-12 mb-4 mb-md-0 d-flex flex-column align-items-center"
      >
        <h5 class="text-uppercase pb-4">OUR PARTNERS</h5>
        <div class="d-flex flex-row align-items-center">
          <div class="m-3 d-flex flex-column align-items-center">
            <i class="fa-solid fa-graduation-cap fs-3"></i>
            <p class="text-center">Ministry of Education</p>
          </div>
          <div class="m-3 d-flex flex-column align-items-center">
            <div class="d-flex">
              <i class="fa-solid fa-eye fs-4"></i>
              <span class="fw-bold">CBS</span>
            </div>
            <p class="text-center">Education News</p>
          </div>
          <div class="m-3 d-flex flex-column align-items-center">
            <i class="fa-brands fa-discord fs-3"></i>
            <p class="text-center">Kids Center</p>
          </div>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
