<div class="m-3">
  <div>
    <div>
      <nz-breadcrumb class="d-flex justify-content-start mt-3" nzSeparator=">">
        <nz-breadcrumb-item class="text-primary fw-bold" [routerLink]="['/admin/parent']">Parent Management
        </nz-breadcrumb-item>
        <nz-breadcrumb-item><a class="text-primary fw-bold">Parent List</a></nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <div class="d-flex align-items-center justify-content-between gap-1 h-10 py-5">
      <h4>Parent List</h4>
      <div class="d-flex flex-column w-25 gap-2">
        <div class="d-flex align-items-center ">
          <nz-input-group class="rounded-3 p-2 bg-light" [nzSuffix]="suffixIconSearch">
            <input class="bg-light" type="text" nz-input placeholder="input search text" [(ngModel)]="searchOptions"
                   (keydown.enter)="search()"/>
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search" (click)="search()"></i>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div>
    <nz-table class="table-custom" [nzData]="userList" [nzFrontPagination]="false" [nzShowPagination]="false"
              *ngIf="userList.length">
      <thead>
      <tr>
        <th class="text-center">Full Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Phone No.</th>
        <th class="text-center">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userList">
        <td class="text-center text-primary" role="button" [routerLink]="['/admin/parent/detail', user.id]">{{ user.fullName }}</td>
        <td class="text-center">{{ user.account.email }}</td>
        <td class="text-center">{{ user.phoneNumber }}</td>
        <td class="text-center">
          <ng-container *ngIf="user.enroll > 0"  >
            <nz-tag class="mx-3 mb-2 enroll" role="button" [nzColor]="'geekblue'" [routerLink]="['/admin/parent/enrolls', user.id]">Enrolled ({{user.enroll}})</nz-tag>
          </ng-container>
          <ng-container *ngIf="user.enroll === 0">
            <nz-tag class="mx-3 mb-2 enroll"  [nzColor]="'red'">No enrolled yet</nz-tag>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <nz-pagination class="paging m-3" *ngIf="dataLoaded" (nzPageIndexChange)="paging($event)"
                   [nzPageIndex]="page + 1" [nzPageSize]="size" [nzTotal]="totalElements"></nz-pagination>
    <div *ngIf="!userList.length" class="notification">
      <b>No results found !</b>
    </div>
  </div>
</div>
