<div  class="body">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          <nz-form-item class="login-title">
            <h3 >Forgot password</h3>
            <p>Please enter your email address and we'll send you a link to reset your password</p>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label [nzSpan]="6" nzFor="email" class="login-label">Email address</nz-form-label>
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="email" placeholder="Email" />
              </nz-input-group>
              <ng-container *ngIf="inputEmailTouched  ">
                <div class="login-error" *ngIf="email?.invalid && (email?.dirty && email?.touched) && email?.hasError('pattern')">Please enter a valid email address (e.g., example@example.com)</div>
                <div class="login-error" *ngIf="email?.errors?.['required']">
                  Email is required !
                </div>
              </ng-container>
            </nz-form-control>
          </nz-form-item>
          <div nz-row class="login-form-margin">
            <button nz-col [nzSpan]="10" nz-button class="login-form-button login-form-margin" [nzType]="'default'" (click)="homePage()">Cancel</button>
            <button nz-col [nzSpan]="10" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Submit</button>
          </div>
        </form>
</div>