<main class="container">
  <p class="my-3">
    <a [routerLink]="['/home']"
       class="text-decoration-none text-secondary">Home</a> &gt;
    <span class="text-decoration-none text-secondary">My Schools</span>
  </p>
  <h2 class="mb-5 mt-3">My School</h2>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button (click)="clickTab(0)" class="nav-link active {{isCurrent}}" id="current-tab" data-bs-toggle="tab"
              data-bs-target="#current-tab-pane"
              type="button" role="tab" aria-controls="current-tab" aria-selected="true">Current Schools
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button (click)="clickTab(1)" class="nav-link {{isPrevious}}" id="previous-tab" data-bs-toggle="tab"
              data-bs-target="#previous-tab-pane" type="button"
              role="tab" aria-controls="previous-tab" aria-selected="false">Previous Schools
      </button>
    </li>
  </ul>
  <section class="d-flex flex-column p-3 pt-5 enroll-detail w-100">
    <ng-container *ngIf="!listSchool.length">
      <p class="text-secondary fw-bold fs-4">There are no school!</p>
    </ng-container>
    <article class="d-flex" *ngFor="let item of listSchool | paginate : {
                  itemsPerPage: size,
                  currentPage: activePage,
                  totalItems: totalElements
                };">
      <!-- school detail item -->
      <div class="col-9 p-2">
        <div class="card p-3 shadow-sm">
          <div class="row g-0">
            <div class="col-md-4 pt-3">
              <img
                src="{{ImageUtility.displayImg(item.school.mainImage)}}"
                class="img-fluid"
                alt="{{item.school.name}}"/>
              <div class="d-flex align-items-center justify-content-centers py-3">
                <app-rating-star [rate]="item.school.avgRating" [maxRate]="5"></app-rating-star>
                <p class="review-count m-3">
                  {{item.school.avgRating ? item.school.avgRating : 0}}/5 ({{item.school.totalFeedbacks}} ratings)
                </p>
              </div>
            </div>
            <div class="col-md-8 ps-2 pt-2">
              <div class="card-body p-1">
                <div>
                  <a [routerLink]="['/home/school/', item.school.id]"
                     class="card-title text-primary"><h3 class="fw-bold">{{item.school.name}}</h3></a>
                </div>
                <table class="table table-0 table-borderless mb-0 p-0">
                  <tbody>
                  <tr>
                    <td class="label-column p-1">
                      <i class="fa-solid fa-map-location-dot"></i>
                    </td>
                    <td class="label-column p-1">Address:</td>
                    <td
                      class="content-column p-1">{{[item.school.street, item.school.ward?.name, item.school.district?.name, item.school.city?.name].join(", ")}}</td>
                  </tr>
                  <tr>
                    <td class="label-column p-1">
                      <i class="fa-solid fa-earth-asia"></i>
                    </td>
                    <td class="label-column p-1">
                      Website:
                    </td>
                    <td class="content-column p-1">
                      <a target="_blank" rel="noopener noreferrer"
                         href="{{item.school.website}}">{{item.school.website}}</a></td>
                  </tr>
                  <tr>
                    <td class="label-column p-1">
                      <i class="fa-solid fa-coins"></i>
                    </td>
                    <td class="label-column p-1">
                      Tuition fee:
                    </td>
                    <td class="content-column p-1">From {{item.school.minFee | number}} VND/month</td>
                  </tr>
                  <tr>
                    <td class="label-column p-1">
                      <i class="fa-solid fa-book-bookmark"></i>
                    </td>
                    <td class="label-column p-1">
                      <span class="text-nowrap">Admission age:</span>
                    </td>
                    <td class="content-column p-1">{{item.school.childReceivingAge | displayName}}</td>
                  </tr>
                  <tr>
                    <td class="label-column p-1">
                      <i class="fa-solid fa-people-roof"></i>
                    </td>
                    <td class="label-column p-1">
                      School type:
                    </td>
                    <td class="content-column p-1">{{item.school.type | schoolType}}</td>
                  </tr>
                  <tr>
                    <td class="label-column p-1">
                      <i class="fa-solid fa-lightbulb"></i>
                    </td>
                    <td class="label-column p-1">
                      Facilities and Utilities:
                    </td>
                    <td class="content-column p-1 facility-utility">
                      <ng-container *ngFor="let utility of item.school.schoolUtilities">
                        <span class="badge bg-primary-subtle me-1 text-primary">{{utility.utility?.name}}</span>
                      </ng-container>
                      <ng-container *ngFor="let facility of item.school.schoolFacilities">
                        <span class="badge bg-primary-subtle me-1 text-primary">{{facility.facility?.name}}</span>
                      </ng-container>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- rate of user -->
      <div class="col-3 p-2">
        <div
          class="card p-3 border-primary-subtle shadow-sm h-100 d-flex justify-content-center align-items-center">
          <div *ngIf="!item.school.feedback && status"
               class="d-flex flex-column justify-content-center align-items-center gap-3">
            <p class="mb-0 fw-bold text-primary">
              You haven't rated the school yet. Please share with us your feedback.
            </p>
            <app-feed-back [schoolId]="item.school.id"></app-feed-back>
          </div>
          <div *ngIf="!item.school.feedback && !status"
               class="d-flex flex-column justify-content-center align-items-center gap-3">
            <p class="mb-0 fw-bold text-primary">
              There's no rating of yours for this school. You can only rate the school you're currently enrolled in.
            </p>
          </div>
          <div *ngIf="item.school.feedback" class="d-flex flex-column justify-content-center align-items-center gap-3">
            <h4>Your Average Rating</h4>
            <span>{{item.school.feedback?.avgRating?.toFixed(1)}}/5</span>
            <app-rating-star [sizeInput]="4" [rate]="item.school?.feedback?.avgRating" [maxRate]="5"></app-rating-star>
            <p (click)="handleViewRate(item.school?.feedback?.id)" data-bs-toggle="modal" data-bs-target="#rating"
               class="btn border border-2 border-primary-subtle text-primary px-3 py-0 fw-bold mb-0 shadow bg-body-tertiary">
              View Ratings <br> Details</p>
          </div>
        </div>
      </div>
    </article>
    <nav *ngIf="totalPages > 1" aria-label="Page navigation">
      <ul class="pagination justify-content-center mb-0 mt-2">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </ul>
    </nav>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="rating" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ratings Detail</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column justify-content-center">
            <p class="px-3 text-secondary">{{rating?.createdDate | date:"dd/MM/yyyy hh:mm a"}}</p>
            <p class="px-3">{{rating?.content}}</p>
          </div>
          <hr>
          <table class="d-flex justify-content-center align-items-center">
            <tbody>
            <tr>
              <th scope="row" class="fs-4">Overall Rating</th>
              <td>
                <div class="d-flex justify-contents-center align-items-center p-3 gap-3">
                  <app-rating-star [sizeInput]="4" [maxRate]="5" [rate]="rating?.avgRating"></app-rating-star>
                  <span>{{rating?.avgRating.toFixed(1)}} / 5</span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Learning Program:</th>
              <td>
                <div class="d-flex justify-contents-center align-items-center px-3 gap-3">
                  <app-rating-star [sizeInput]="6" [maxRate]="5"
                                   [rate]="rating?.learningProgramRating"></app-rating-star>
                  <span>({{rating?.learningProgramRating}}/5)</span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Facilities and Utilities: </th>
              <td>
                <div class="d-flex justify-contents-center align-items-center px-3 gap-3">
                  <app-rating-star [sizeInput]="6" [maxRate]="5"
                                   [rate]="rating?.facilityAndUtilityRating"></app-rating-star>
                  <span>({{rating?.facilityAndUtilityRating}}/5)</span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Extracurricular Activities:</th>
              <td>
                <div class="d-flex justify-contents-center align-items-center px-3 gap-3">
                  <app-rating-star [sizeInput]="6" [maxRate]="5"
                                   [rate]="rating?.extracurricularActivityRating"></app-rating-star>
                  <span>({{rating?.extracurricularActivityRating}}/5)</span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Teacher And Staff: </th>
              <td>
                <div class="d-flex justify-contents-center align-items-center px-3 gap-3">
                  <app-rating-star [sizeInput]="6" [maxRate]="5"
                                   [rate]="rating?.teacherAndStaffRating"></app-rating-star>
                  <span>({{rating?.teacherAndStaffRating}}/5)</span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Hygiene And Nutrition: </th>
              <td>
                <div class="d-flex justify-contents-center align-items-center px-3 gap-3">
                  <app-rating-star [sizeInput]="6" [maxRate]="5"
                                   [rate]="rating?.hygieneAndNutritionRating"></app-rating-star>
                  <span>({{rating?.hygieneAndNutritionRating}}/5)</span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</main>
