@import '../../../../styles.scss';

.header-foot-line {
  background-color: $primary-color;
  height: 2px;
  width: 100%;
}

.dropdown-menu {
  width: 100%;
  border: 2px solid $primary-color;
  padding: 0;
  box-shadow: none;

  .dropdown-item {
    border-bottom: 1px solid $primary-color;
    padding: 10px 15px;
  }

  .dropdown-item:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

.nav-item{
text-align: left;


}
.nav-item:hover {
  font-weight: bold;
  text-decoration: underline;
}
.person-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-white {


  --bs-navbar-toggler-focus-width: 0.1rem !important;

}

