<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Account Mail</title>
</head>
<body>
  <p>Dear Mr/Mrs <b th:text="${name}"></b>,</p><br>
  <p>Thank you for registering an account on our website !</p>
  <p>Please verify your email address to complete the <b>Kindergarten suggest</b>
    account registration at this <a th:href="${link}">link</a> !</p>
  <br>
  <p>Thanks & Regards!</p>
  <b>KTS Team</b><br>
  <p th:text="${dateTime}"></p>
</body>
</html>