<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reject School Mail</title>
</head>
<body>
    <p>This email is from KTS system,</p><br>
    <p>Hi <b th:text="${userName}"></b>,</p>
    <p>Your submitted school <b th:text="${schoolName}"></b> has just been rejected by KTS admin.</p>
    <p>Please contact us at (+84) 5555-5555 or sending to <a th:href="${adminMail}">Admin mail</a> for more details</p><br>
    <p>Thanks & Regards!</p>
    <b>KTS Team</b><br>
    <p th:text="${dateTime}"></p>
</body>
</html>