<div class="advanced-search">
  <div class="row">
    <div class="col-md-8">
      <p class="fw-bold text-primary fs-5 ps-1">Refine your search</p>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-end">
      <!--      <form [formGroup]="filterForm" (ngSubmit)="clearFilters()">-->
      <!--      </form>-->
    </div>
  </div>

  <form [formGroup]="filterForm">
    <label for="schoolTypes" class="text-primary fs-6 py-2">Type of School</label><br>
    <select (change)="buildUrlCondition($event, 'schoolTypes')"
            class="form-select select-form border-primary col-md-12 p-2 text-secondary"
            id="schoolTypes"
            formControlName="type">
      <option value="">Select 1 value</option>
      <option *ngFor="let type of schoolTypes" [value]="type">{{ type | schoolType }}</option>
    </select>
    <br>

    <label for="admissionAge" class="text-primary pt-3 fs-6 py-2">Admission age(from)</label><br>
    <select (change)="buildUrlCondition($event, 'admissionAge')"
            class="form-select border-primary col-md-12 p-2 text-secondary"
            id="admissionAge"
            formControlName="age">
      <option value="">Select 1 value</option>
      <option *ngFor="let age of admissionAge" [value]="age">{{ age | displayName }}</option>
    </select>

    <br>
    <div class="row">
      <p class="text-primary py-0">Fee (VND/month)</p><br>
      <div class="col-12 col-md-6 d-flex flex-column">
        <label class="text-primary " for="minFee">Min <span
          style="font-size: 0.9em; color: rgb(128,128,128);">{{minFee | number}}</span></label>
        <input (blur)="buildUrlCondition($event, 'minFee')" (keydown.enter)="buildUrlCondition($event, 'minFee')" class="form-control border-primary-subtle" type="number"
               min="{{minFee}}" max="{{maxFee}}" step="100" id="minFee" value="{{minFee}}" placeholder="{{minFee}}"
               formControlName="minFee">
      </div>
      <div class="col-12 col-md-6 d-flex flex-column">
        <label class="text-primary " for="maxFee">Max <span
          style="font-size: 0.9em; color: rgb(128,128,128);">{{maxFee | number}}</span></label>
        <input  (blur)="buildUrlCondition($event, 'minFee')" (keydown.enter)="buildUrlCondition($event, 'minFee')" class="form-control border-primary-subtle" type="number"
               min="{{minFee}}" max="{{maxFee}}" step="100" id="maxFee" value="{{maxFee}}" formControlName="maxFee">
      </div>
    </div>
    <label class="text-primary pt-3 fs-6">Facilities</label>
    <div class="checkbox-group">
      <div class="form-check pt-2" *ngFor="let item of facilities">
        <input (change)="buildUrlCondition($event,'facilities')" class="form-check-input border-primary" type="checkbox"
               [value]="item.id" id="facility_{{item?.id}}" [checked]="facilitiesOpt.includes(item.id)"
               formArrayName="facilities">
        <label class="form-check-label ms-2" for="facility_{{item?.id}}">{{item?.name}}</label>
      </div>
    </div>

    <label class="text-primary pt-3 fs-6">Utilities</label><br>
    <div class="checkbox-group">
      <div class="form-check pt-2" *ngFor="let item of utilities">
        <input (change)="buildUrlCondition($event, 'utilities')" class="form-check-input border-primary" type="checkbox"
               value="{{item.id}}" id="utility_{{item?.id}}" [checked]="utilitiesOpt.includes(item.id)"
               formArrayName="utilities">
        <label class="form-check-label ms-2" for="utility_{{item?.id}}">{{ item?.name }}</label>
      </div>
    </div>

    <label class="text-primary pt-3 fs-6">Rating</label><br>
    <div class="checkbox-group">
      <div class="form-check pt-2" *ngFor="let item of [5,4,3,2,1]">
        <input (change)="buildUrlCondition($event, 'rating')" class="form-check-input border-primary " type="checkbox"
               value="{{item}}" id="rating_{{item}}" [checked]="ratingOpt[0] == item"
               formArrayName="rating">
        <div>
          <app-rating-star [sizeInput]="6" [rate]="item" [maxRate]="5"></app-rating-star>
        </div>
      </div>
    </div>

  </form>
</div>


