
<div class="container">

  <!-- Modal -->
  <div class="modal fade"  id="loginModal" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
      <div class="modal-content">
        <div class="modal-header">
          <button #closeButton type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close" (click)="clearForm()"></button>
        </div>
        <div class="modal-body row justify-content-center">
          <h3 class="modal-title text-center text-success">Login into your
            account</h3>
          <!-- Thông báo nếu nhập sai tài khoản -->
          <b class="text-danger text-center mb-3" *ngIf="errorMessage">{{errorMessage}}</b>
          <div class="col-9 mt-4">
            <form method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mb-4">
                <label for="login-email" class="form-label">Email address <span class="text-danger">*</span></label>
                <div class="input-group mt-2">
                  <input type="email" formControlName="email"
                    class="form-control text-muted" id="login-email"
                    aria-label="Example@gmail.com"
                    placeholder="Example@gmail.com"
                    aria-describedby="basic-addon1"
                    (blur)="inputEmailTouched = true">
                  <div class="input-group-append" style="position: relative;">
                    <span class="input-group-text bg-primary text-light"
                      style="border-radius: 5px;position: absolute; right: 0%; top: 0%;height: 100%;"
                      id="basic-addon1">
                      <i class="fa-regular fa-envelope fa-lg"></i>
                    </span>
                  </div>
                </div>
                <!-- Thông báo lỗi cho trường email -->
                <div class="text-danger" *ngIf="inputEmailTouched && email?.errors?.['required']">
                  Email is required !
                </div>
                <ng-container *ngIf="inputEmailTouched && email?.invalid && (email?.dirty && email?.touched)">
                  <div class="text-danger" *ngIf="email?.hasError('pattern')">Please enter a valid email address (e.g., example@example.com)</div>
                </ng-container>
                <div class="mb-4 mt-4">
                  <label for="login-password" class="form-label">Password <span class="text-danger">*</span></label>
                  <div class="input-group mt-2">
                    <input type="password" [formControlName]="'password'"
                      class="form-control text-muted" id="login-password"
                      aria-label="Enter your password"
                      placeholder="Enter your password"
                      aria-describedby="basic-addon2">
                    <div class="input-group-append" style="position: relative;">
                      <span class="input-group-text bg-primary text-light"
                        style="border-radius: 5px;position: absolute; right: 0%; top: 0%;height: 100%;"
                        id="basic-addon2"><i class="fa-solid fa-lock fa-lg"></i></span>
                    </div>
                  </div>
                  <!-- Thông báo lỗi cho trường mật khẩu -->
                    <div class=" text-danger" *ngIf="inputPasswordTouched && password?.errors?.['required']">Password is required !</div>
                </div>
                <div class="mb-4 d-flex justify-content-end">
                  <a href class="text-primary" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot password?</a>
                </div>

                <div class="mb-4">
                  <button type="submit" class="btn btn-primary form-control">Login
                    now</button>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                  <p class="text-success">-------&nbsp;&nbsp;&nbsp;OR&nbsp;&nbsp;&nbsp;-------</p>
                </div>
                <div class="mb-4">
                  <button type="button"
                    class="btn btn-light text-primary border-primary form-control"
                    style="margin-bottom: 50px;" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Register now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
