<div  class="body">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item class="login-title">
        <h3 >Reset password</h3>
        <p>Please set your new password</p>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSpan]="6" nzFor="password" class="login-label">Password</nz-form-label>
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Enter your password" />
          </nz-input-group>
          <ng-container *ngIf="passwordTouched  ">
            <div class="login-error" *ngIf="password?.invalid && (password?.dirty && password?.touched) && password?.hasError('pattern')">Password must contain at least one number, one
              numeral, and seven characters!</div>
            <div class="login-error" *ngIf="password?.errors?.['required']">
              Password is required !
            </div>
          </ng-container>
          <small class="text-warning">
            Use at least one number, one letter, and seven characters.
          </small>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSpan]="12" nzFor="confirmPassword" class="login-label">Confirm Password</nz-form-label>
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm password" />
          </nz-input-group>
          <ng-container *ngIf="passwordsMatchChecked || confirmPasswordTouched">
            <div class="login-error" *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty && confirmPassword?.touched) &&
            validateForm.hasError('mismatch', 'confirmPassword')">
            Password and Confirm password don’t match. Please
            try again!
            </div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <button nz-col [nzSpan]="10" nz-button class="login-form-button login-form-margin" [nzType]="'default'" (click)="homePage()">Cancel</button>
        <button nz-col [nzSpan]="10" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Reset</button>
      </div>
    </form>
</div>
