<nz-breadcrumb class="text-start m-3">
  <nz-breadcrumb-item class="text-primary">
    <a class="text-primary fw-bold" [routerLink]="['/admin/user']">User management</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item class="text-primary fw-bold">Edit user</nz-breadcrumb-item>
</nz-breadcrumb>

<!-- form -->
<h3 class="ms-5 text-start">Edit user</h3>
<section class="add-content ms-5">
  <form nz-form class="mt-5" [formGroup]="updateForm" (ngSubmit)="submitForm(userId)">
    <!-- full name -->
    <nz-form-item>
      <nz-form-label class="d-flex justify-content-start" [nzSm]="6" [nzXs]="24" nzFor="fullName">Full name<span class="text-danger">&nbsp;*</span></nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Full name is required!">
        <input class="border border-secondary" nz-input type="text" id="fullName" placeholder="Enter full name..." formControlName="fullName"/>
      </nz-form-control>
    </nz-form-item>

    <!-- email -->
    <nz-form-item>
      <nz-form-label class="d-flex justify-content-start" [nzSm]="6" [nzXs]="24" nzFor="email">Email<span class="text-danger">&nbsp;*</span></nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorMail">
        <input class="border border-secondary" nz-input type="text" id="email" placeholder="Enter email..." formControlName="email"/>
        <ng-template #errorMail let-control>
          <ng-container *ngIf="control.hasError('required')">Email is required!</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">
            Email isn't correct format!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- DOB -->
    <nz-form-item>
      <nz-form-label class="d-flex justify-content-start" [nzSm]="6" [nzXs]="24" nzFor="dob">
        <span>DOB<span class="text-danger">&nbsp;*</span></span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorDOB">
        <input class="border border-secondary" nz-input type="date" id="dob" formControlName="dob"/>
        <ng-template #errorDOB let-control>
          <ng-container *ngIf="control.hasError('required')">DOB is required!</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            DOB must be less than today's date!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Phone number -->
    <nz-form-item>
      <nz-form-label class="d-flex justify-content-start" [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Phone Number<span class="text-danger">&nbsp;*</span></nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorPhoneNumber">
        <input class="border border-secondary" nz-input id="phoneNumber" placeholder="Enter phone number ..." formControlName="phoneNumber"/>
        <ng-template #errorPhoneNumber let-control>
          <ng-container *ngIf="control.hasError('required')">Phone number is required!</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">
            Phone number isn't correct format!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Role -->
    <nz-form-item>
      <nz-form-label class="d-flex justify-content-start" [nzSm]="6" [nzXs]="24" nzFor="role">Role<span class="text-danger">&nbsp;*</span></nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Role is required!">
        <nz-select class="border border-secondary" nzPlaceHolder="Select a role" id="role" formControlName="role">
          <nz-option  *ngFor="let role of roles" nzValue="{{role}}" nzLabel="{{role}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!-- status -->
    <nz-form-item>
      <nz-form-label class="d-flex justify-content-start" [nzSm]="6" [nzXs]="24" nzFor="active">Status</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select class="border border-secondary" nzPlaceHolder="Select status" id="active" formControlName="active">
          <nz-option nzValue="true" nzLabel="ACTIVE"></nz-option>
          <nz-option nzValue="false" nzLabel="INACTIVE"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button class="rounded fw-bold me-3" nz-button type="button" (click)="loadData(userId)">Cancel</button>
        <button class="rounded fw-bold" nz-button nzType="primary">Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</section>
