.header-content {
  background-color: #d3eeff;
  //border-bottom: 1px solid blue;
  width: 100%;
}

.logo {
  margin-left: 2rem;
}

.footer-content {
  background-color: #495456;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.empty-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
}
