
.breadcrumb-links>a:not(:last-child)::after {
  content: '>';
  color: #000;
}

.w-30 {
  width: 30% !important;
  height: 200px;
  object-fit: cover;
}

.w-100 {
  height: 400px;
}

.d-flex img:not(:last-child) {
  margin-right: 5%;
}

.card {
  padding: 20px;
}

.btn {
  width: 40%;
  margin-left: auto;
  margin-right: 10px;
  font-size: 0.8rem;
  padding: 8px 12px;
}

.card-bordered {
  border: 2px solid #adc9e8;
  padding: 10px;
  border-radius: 10px;
}
.card2-bordered {
  border: 2px solid #adc9e8;
  padding: 10px;
  border-top: none;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.feedback-item {
  border: 2px #adc9e8 solid;
  padding: 10px;
  border-radius: 10px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 20px;
}
.my-btn {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating>div {
  margin-left: 10px;
}

.btn-detail {
  margin: 0 5px;
  border: 1px solid #ffc107;
  border-radius: 15px;
  padding: 10px 25px;
  color: rgb(134, 124, 124);
  background-color: white;
  transition: 0.2s linear;
  cursor: pointer;
}

.btn-detail:hover {
  transition: 0.2s linear;
  transform: scale(0.85);
}

.Overall{
  position: relative;
  bottom: 1.5rem;
}
button:hover {
  transition: 0.2s linear;
  transform: scale(0.85);
}

.tab-content {
  border-top: none !important;
}
.active1 {
  background-color: #ffc107;
  color:#f8f9fa
}
.nav-link {
  border-bottom: 0;
}
//.nav-tabs {
//  --bs-nav-tabs-border-width: 2px;
//  --bs-nav-tabs-border-color: #adc9e8 ;
//}

.nav-tabs {
  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-link-hover-border-color:  #adc9e8 ;
  //--bs-nav-tabs-link-active-color:  #adc9e8 ;
  --bs-nav-tabs-link-active-border-color:  #adc9e8 ;
}
