.table-custom {
  margin-top: 30px;
  //margin-left: 15px;
  //margin-right: 15px;
}
.table-custom tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-custom th {
  //font-size: 20px;
}
.table-custom td {
  font-size: 15px;
}
.text-bg-success-status {
  background-color: rgba(197, 249, 192, 0.6);
  color: #4aa042;
}

.text-bg-danger-status {
  background-color: rgba(255, 137, 137, 0.6);
  color: #ff2b2b;
}

.text-bg-warning-status {
  background-color: rgba(115, 207, 49, 0.6);
  color: #ac1c1c;
}
.ant-pagination {
  text-align: center;
}
.title-navbar{
  margin-top: 20px;
  //margin-left: 10px;
  //margin-right: 10px;
}
.notification{
  color: red;
  font-size: 25px;
  text-align: center;
}

.goToReview:hover{
  transform: scale(1.5);
}
