<div class="px-3">
  <nz-breadcrumb class="py-3" nzSeparator=">">
    <nz-breadcrumb-item class="text-primary fw-bold" role="button" [routerLink]="['/admin/user']">Request Management
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a class="text-primary fw-bold">List Request Reminder</a></nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="d-flex align-items-center justify-content-between gap-1 h-10 title-navbar">
    <h4>List Request Reminder</h4>
    <div class="d-flex flex-column w-25 gap-2">
      <div class="d-flex align-items-center ">
        <nz-input-group class="rounded-3 p-2 bg-light" [nzSuffix]="suffixIconSearch">
          <input class="bg-light" type="text" nz-input placeholder="Search for requests..." [(ngModel)]="keywordOpt"
                 (keydown.enter)="search()" (focusout)="search()"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search" role="button" (click)="search()"></i>
        </ng-template>
      </div>
    </div>
  </div>
  <nz-table class="table-custom" *ngIf="reminderList.length"  [nzData]="reminderList" [nzFrontPagination]="false">
    <thead>
    <tr>
      <th nzWidth="20%">School Name</th>
      <th nzWidth="20%">Full Name</th>
      <th nzWidth="20%">Email</th>
      <th nzWidth="15%">Phone No.</th>
      <th class="text-center" nzWidth="10%">Request Status</th>
      <th class="text-center" nzWidth="15%">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of reminderList">
      <td [routerLink]="['/admin/school', data?.school?.id]" role="button" class="text-primary">{{ data?.school?.name }}</td>
      <td>{{ data.fullName }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td class="text-center"><nz-tag [nzColor]="'geekblue'">{{data.status|requestStatus}}</nz-tag></td>
      <td class="text-center"><a class="goToReview"  [routerLink]="['/admin/request/detail', data.id]">Go to review</a></td>
    </tr>
    </tbody>
  </nz-table>
    <nz-pagination *ngIf="dataLoaded" (nzPageIndexChange)="paging($event)"
      [nzPageIndex]="page + 1" [nzPageSize]="size" [nzTotal]="totalElements"></nz-pagination>
  <div *ngIf="!reminderList.length" class="notification">
    <b>No results found !</b>
  </div>
</div>
