.table-custom {
  font-size: 10px;
}
.table-custom tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-custom td {
  font-size: 10px;
}
.text-bg-success-status {
  background-color: rgba(197, 249, 192, 0.6);
  color: #4aa042;
}

.text-bg-danger-status {
  background-color: rgba(255, 137, 137, 0.6);
  color: #ff2b2b;
}
.ant-pagination {
  text-align: center;
}

.notification{
  color: red;
  font-size: 25px;
  text-align: center;
}
nz-tag {
  width: 80px;
}
