<div class="m-3">
  <div>
    <div>
      <nz-breadcrumb class="d-flex justify-content-start mt-3" nzSeparator=">">
        <nz-breadcrumb-item class="text-primary fw-bold" [routerLink]="['/admin/user']">User Management
        </nz-breadcrumb-item>
        <nz-breadcrumb-item><a class="text-primary fw-bold">User List</a></nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <div class="d-flex align-items-center justify-content-between gap-1 h-10">
      <h3>User List</h3>
      <div class="d-flex flex-column w-25 gap-2">
        <div class="d-flex align-items-center ">
          <nz-input-group class="rounded-3 p-2 bg-light" [nzSuffix]="suffixIconSearch">
            <input class="bg-light" type="text" nz-input placeholder="input search text" [(ngModel)]="searchOptions"
                   (keydown.enter)="search()"/>
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search" role="button" (click)="search()"></i>
          </ng-template>
        </div>
        <div class="d-flex justify-content-end w-5 mt-2 mb-3">
          <button class="rounded-3 d-flex align-items-center justify-content-center p-4" nz-button nzType="primary"
                  [routerLink]="['/admin/user/add']">Add User
          </button>
        </div>
      </div>
    </div>
  </div>
  <nz-table class="table-custom" #fixedTable [nzData]="userList" [nzFrontPagination]="false"
            *ngIf="userList.length > 0">
    <thead>
    <tr>
      <th nzWidth="15%">Full Name</th>
      <th class="text-center" nzWidth="15%">Email</th>
      <th class="text-center" nzWidth="10%">Phone No.</th>
      <th class="text-center" nzWidth="10%">DOB</th>
      <th class="text-center" nzWidth="25%">Address</th>
      <th class="text-center" nzWidth="10%">Role</th>
      <th class="text-center" nzWidth="5%">Status</th>
      <th class="text-center" nzWidth="10%">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of fixedTable.data">
      <td class="text-primary" role="button" [routerLink]="['/admin/user/detail', data.id]">{{ data.fullName }}</td>
      <td class="text-center">{{ data.account.email }}</td>
      <td class="text-center">{{ data.phoneNumber }}</td>
      <td class="text-center" [innerHTML]=" data.dob | dobDate "></td>
      <td class="text-center">
        {{ data.street ? data.street + ', ' : '' }}
        {{ data.ward ? data.ward.name + ', ' : '' }}
        {{ data.district ? data.district.name + ', ' : '' }}
        {{ data.city ? data.city.name : '' }}
      </td>
      <td class="text-center" [innerHTML]=" data.account.role | role "></td>
      <td class="text-center">
        <ng-container *ngIf="data.account.active === true">
          <nz-tag [nzColor]="'geekblue'">Activated</nz-tag>
        </ng-container>
        <ng-container *ngIf="data.account.active === false">
          <nz-tag [nzColor]="'red'">Deactivated</nz-tag>
        </ng-container>
      </td>
      <td class="text-center">
        <a class="text-dark" [routerLink]="['/admin/user/edit', data.id]"><span class="fs-5 me-2" nz-icon nzType="edit"
                                                                                nzTheme="outline"></span></a>
        <a nz-popconfirm nzCancelText="Cancel" nzPopconfirmTitle="Sure to unEnroll?" (nzOnConfirm)="delete(data.id)">
          <span class="fs-5" nz-icon nzType="delete" nzTheme="outline"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-pagination *ngIf="dataLoaded" (nzPageIndexChange)="paging($event)"
                 [nzPageIndex]="page + 1" [nzPageSize]="size" [nzTotal]="totalElements"></nz-pagination>
  <div *ngIf="userList.length === 0" class="notification">
    <b>No results found !</b>
  </div>
</div>


