
<div class="container">

    <!-- Modal -->
    <div class="modal fade"  id="forgotPasswordModal" data-bs-backdrop="static"
      data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
        <div class="modal-content">
          <div class="modal-header">
            <button #closeButton type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body row justify-content-center">
            <h3 class="modal-title text-center text-success">Forgot password</h3>
            <!-- Thông báo nếu nhập sai tài khoản -->
            <b class="text-danger text-center mb-3" *ngIf="errorMessage">{{errorMessage}}</b>
            <div class="col-9 mt-3">
            <p class="text-center mt-3">Please enter your email address and we'll send you a link to reset your password</p>
              <form method="post" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                <div class="mb-4">
                  <label for="email-input2" class="form-label fw-bold">Email address</label>
                  <div class="input-group mt-2">
                    <input type="email" formControlName="email"
                      class="form-control text-muted" id="email-input2"
                      placeholder="Example@gmail.com"
                      aria-describedby="basic-addon3"
                      (blur)="inputEmailTouched = true">
                    <div class="input-group-append" style="position: relative;">
                      <span class="input-group-text bg-primary text-light"
                        style="border-radius: 5px;position: absolute; right: 0%; top: 0%;height: 100%;"
                        id="basic-addon3"><i class="fa-regular fa-envelope fa-lg"></i></span>
                    </div>
                  </div>
                  <!-- Thông báo lỗi cho trường email -->
                  <div class="text-danger" *ngIf="inputEmailTouched && email?.errors?.['required']">
                    Email is required !
                  </div>
                  <ng-container
                    *ngIf="inputEmailTouched && email?.invalid && (email?.dirty && email?.touched)">
                    <div class="text-danger" *ngIf="email?.hasError('pattern')">Please
                      enter a valid email address (e.g., example@example.com)</div>
                  </ng-container>
                  
                  <div class="mb-5 mt-5 d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-primary col-5 " data-bs-dismiss="modal"
                    aria-label="Close" >Cancel</button>
                    <button type="submit" class="btn btn-primary col-5" >Submit</button>
                  </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
