<div class="m-3">
    <div>
        <div>
          <nz-breadcrumb class="d-flex justify-content-start mt-3" nzSeparator=">">
            <nz-breadcrumb-item class="text-primary fw-bold" [routerLink]="['/admin/user']">Request Management</nz-breadcrumb-item>
            <nz-breadcrumb-item><a class="text-primary fw-bold">Request List</a></nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
        <div class="d-flex align-items-center justify-content-between gap-1 h-10 py-5 title-navbar">
          <h4>Request List</h4>
          <div class="d-flex flex-column w-25 gap-2">
            <div class="d-flex align-items-center ">
              <nz-input-group class="rounded-3 p-2 bg-light" [nzSuffix]="suffixIconSearch">
                <input class="bg-light" type="text" nz-input placeholder="Search for requests..." [(ngModel)]="searchOptions" (keydown.enter)="search()"  />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search" (click)="search()"></i>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <nz-table #fixedTable [nzData]="requestList" [nzFrontPagination]="false" *ngIf="requestList.length > 0">
        <thead>
<!--        <tr>-->
<!--          <th nzWidth="20%">School Name</th>-->
<!--          <th nzWidth="20%">Full Name</th>-->
<!--          <th nzWidth="25%">Email</th>-->
<!--          <th nzWidth="20%">Phone No.</th>-->
<!--          <th nzWidth="15%" class="text-center">Status</th>-->
<!--        </tr>-->
        <tr>
          <th nzWidth="20%">School Name</th>
          <th nzWidth="20%">Full Name</th>
          <th nzWidth="20%">Email</th>
          <th nzWidth="15%">Phone No.</th>
          <th class="text-center" nzWidth="10%">Request Status</th>
          <th class="text-center" nzWidth="15%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of fixedTable.data" >
          <td class="text-primary" role="button" [routerLink]="['/admin/school', data?.school?.id]">{{ data.school.name }}</td>
          <td>{{ data.fullName }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.phoneNumber }}</td>
          <td class="text-center">
            <ng-container *ngIf="data.status === 'OPEN'" >
              <nz-tag [nzColor]="'geekblue'">{{data.status|requestStatus}}</nz-tag>
            </ng-container>
            <ng-container *ngIf="data.status === 'CLOSED'">
              <nz-tag [nzColor]="'red'">{{data.status|requestStatus}}</nz-tag>
            </ng-container>
            <ng-container *ngIf="data.status === 'CANCELLED'">
              <nz-tag [nzColor]="'default'">{{data.status|requestStatus}}</nz-tag>
            </ng-container>
          </td>
          <td class="text-center"><a [routerLink]="['/admin/request/detail', data.id]">Go to review</a></td>
        </tr>
        </tbody>
      </nz-table>
      <nz-pagination *ngIf="dataLoaded" (nzPageIndexChange)="paging($event)"
      [nzPageIndex]="page + 1" [nzPageSize]="size" [nzTotal]="totalElements"></nz-pagination>

      <div *ngIf="requestList.length === 0" class="notification">
        <b>No results found !</b>
      </div>
</div>
