.search-sec {
  background: #475555;
  padding: 2rem;
}

.form-control {
  border-radius: 0;
  border-color: #19A7FFFF;
}

.card-school {
  transition: transform 0.3s;
}
//
//.card-school:hover {
//  transform: scale(1.05);
//  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
//}
//

@media (max-width: 800px) {
  .col-lg-9 .row .d-flex {
    flex-direction: column;
  }


  .col-lg-9 .row .d-flex > div {
    width: 100%;
    margin-bottom: 10px;
  }

  .col-lg-9 .row .d-flex .btn {
    width: 100%;
  }

  .search-slt{
    border-radius: 15px;
  }
  .wrn-btn{
    border-radius: 15px;
  }

    .sorted{
      width: 30% !important;
    }

}




