<main>
  <div id="top"></div>
  <section class="search-sec">
    <div class="container">
      <!-- Search by name, city, district... -->
      <app-search></app-search>
    </div>
  </section>

  <section class="main-content container mt-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none text-dark" [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Search for school</li>
      </ol>
    </nav>
    <div class="d-flex justify-content-center">
      <p [innerHTML]="totalElements | resultListSchools "></p>
    </div>
    <div class="row">
      <!--left side bar -->
      <div class="left-side-bar col-lg-3 col-sm-0">
        <app-filter></app-filter>
      </div>

      <!-- sort by rating select box -->
      <div class="right-school-list col-lg-9 col-sm-12">
        <div class="d-flex justify-content-between align-items-center">
          <button class="btn btn-warning text-light" (click)="clearQueryParams()">Clear</button>

          <form [formGroup]="sortForm" class="d-flex align-items-center">

            <!--              <p>Show per page:</p>-->
            <select (change)="buildUrlCondition($event,'size')" class="me-3 form-select sorted border-primary-subtle"
                    style="width: 40%" formControlName="size">
              <option value="5" selected>5 /page</option>
              <option value="10" selected>10 /page</option>
              <option value="15">15 /page</option>
              <option value="20">20 /page</option>
            </select>

            <select (change)="buildUrlCondition($event, 'sort')" class="form-select sorted border-primary-subtle"
                    style="width: 100%" formControlName="sort">
              <option class="p-2" value="1">By Rating</option>
              <option class="p-2" value="2">Newest to Oldest</option>
              <option class="p-2" value="3">Monthly fee - highest to lowest</option>
              <option class="p-2" value="4">Monthly fee - lowest to highest</option>
            </select>
          </form>
        </div>
        <!--Vòng lặp các item school -->
        <ng-container *ngFor="let school of schoolList | paginate : {
                  itemsPerPage: size,
                  currentPage: activePage,
                  totalItems: totalElements
        };">
          <div id="school-cart-item" class="card card-school p-3 border-primary-subtle shadow-sm my-3">
            <app-school-item [school]="school"></app-school-item>
          </div>
        </ng-container>

        <nav *ngIf="totalElements > 0" aria-label="Page navigation">
          <ul class="pagination justify-content-center mb-0 mt-2">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </ul>
        </nav>
      </div>

      <div style="text-align:end; font-size:25px; color:#ffc107">
        <div style="text-align:end; font-size:20px; color:#ffc107">
          <a href="javascript:void(0);" title="Back to top" class="text-warning fst-italic" (click)="scrollToTop()">Back
            to top</a>
        </div>
      </div>
    </div>
  </section>
</main>

