<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-dark text-decoration-none" [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Profile</li>
    </ol>
  </nav>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link  text-dark "  [routerLink]="['/account/profile']">My Infomation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-dark fw-bold" aria-current="true" [routerLink]="['/account/password']">Change Password</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form [formGroup]="passwordForm" method="post" (ngSubmit)="submitForm()">
        <div class="row justify-content-start ms-5">
          <div class="col-5">
            <div class="my-3">
              <label class="d-flex align-items-center mb-3 fw-bold" for="current-password">Current Password :</label>
              <input formControlName="currentPassword" type="password" class="form-control border border-primary mb-2" id="current-password" placeholder="xxxxxxxxxx" aria-label="Your full name">
              <ng-container *ngIf="currentPassword?.invalid && (currentPassword?.dirty || currentPassword?.touched)">
                <div class="text-start text-danger"  *ngIf="currentPassword?.errors?.['required']">
                  Current password is required!
                </div>
              </ng-container>
            </div>
            <div class="mb-5">
              <label class="d-flex align-items-center mb-3 fw-bold" for="new-password">New Password :</label>
              <input formControlName="newPassword" type="password" class="form-control border border-primary mb-2" id="new-password" placeholder="xxxxxxxxxx" aria-label="Your full name">
              <ng-container *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
                <div class="text-start text-danger" *ngIf="newPassword?.errors?.['required']">
                  Password is required
                </div>
                <div class="text-start text-danger" *ngIf="newPassword?.hasError('pattern')">Invalid password format</div>
              </ng-container>
              <p class="mt-2" style="float: left;">Use at least ong letter, one number and seven character</p>
            </div>
            <div class="mb-5">
              <label class="d-flex align-items-start mb-3 fw-bold" for="confirm-password" style="float: left">Confirm Password :</label>
              <input formControlName="confirmPassword" type="password" class="form-control border border-primary mb-2" id="confirm-password" placeholder="xxxxxxxxxx" aria-label="Your full name">
              <ng-container *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                <div class="text-start text-danger" *ngIf="confirmPassword?.errors?.['required']">
                  ConfirmPassword is required!
                </div>
              </ng-container>
              <p class="text-start text-danger" *ngIf="confirmPassword?.hasError('mismatch')">Passwords do not match</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="d-flex column-gap-5 mt-3 justify-content-center row" style="margin-bottom: 50px;">
            <button class="btn btn-outline-primary col-8 md-col-3 lg-col-2 mb-3" style="width: 160px;" (click)="clearForm()">Cancel</button>
            <button type="submit" class="btn btn-primary col-8 md-col-3 lg-col-2 mb-3" style="width: 160px;">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
