<label class="text-primary pt-3 fs-6 py-2">Monthly fee(VND/month)</label><br>
<div class="fee-values align-items-center col-12">
  <div class = "row">
    <div class="middle col-12 my-3">
      <div class="multi-range-slider">
        <input class="border-primary" type="range" id="input-left" min="1" max="20000" step="1000" value="3" name="minFee">
        <input class="border-primary" type="range" id="input-right" min="1" max="20000" step="1000" value="7" name="maxFee">

        <div class="slider">
          <div class="track"></div>
          <div class="range"></div>
          <div class="thumb left"></div>
          <div class="thumb right"></div>
        </div>
      </div>
    </div>



  </div>
</div>
