
.search-location-btn,.search-school-btn{

  border-radius: 0;
}
.btn{
  background-color: #19A7FFFF;
}
.search-school{
  border: 1px solid #19A7FFFF;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}
input:focus, select:focus{
  outline: none;
}
@media (max-width: 500px) {
  #search-container{
    width: 100%;
    margin:0 auto;
  }
}

@media (max-width: 985px) {
  .search-school{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .search-location-btn{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .rounded-start-2{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .border-primary{
    border-radius: 4px;
  }
}
